* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(232, 238, 232);
    display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

img {
    width: 200px;
}

.title {
    font-size: 2rem;
    margin-bottom: 25px
}

.subtitle {
    margin-bottom: 50px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0 20px;
}

#currency1, #currency2, #swap-btn {
    height: 40px;
    width: 70px;
    font-size: 1.1rem;
}

#amount1, #amount2, #rate {
    height: 35px;
    width: 200px;
    font-size: 1.2rem;
    padding-left: 10px;
}